* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  background-color: #f9f6f6;
}

/* header {
  font-family: "Libre Baskerville", serif;
} */

img {
  max-width: 100%;
}

a {
  font-family: "Libre Baskerville", serif;
  color: rgb(21, 21, 21);
  text-decoration: none;
}

#contact,
#my-data {
  color: rgb(86, 85, 85);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.section-title {
  font-family: "Inter", serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.section-description {
  font-size: 0.75rem;
  color: #636363;
  text-align: center;
  margin-bottom: 2.5rem;
}

.seection-text {
  color: #636363;
}

header {
  background-color: #fff;
}

.top-nav {
  border-bottom: 1px #c3c3c3 solid;
  padding: 1rem 0;
  font-size: 0.59rem;
}

#home {
  color: rgb(0, 138, 203);
}

.top a + a {
  padding-left: 1.5rem;
}

.main-nav {
  padding: 1.4rem 0;
  font-size: 0.7rem;
}

.logo {
  width: 120px;
  height: 15px;
}

.nav-list {
  list-style-type: none;
}

.nav-list li + li {
  padding-left: 2rem;
}

.banner {
  padding: 4rem 0;
  min-height: 500px;
  background-image: url(../assets/images/banner1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
}

.banner-text {
  padding-top: 6rem;
  padding-left: 1.1rem;
  color: #fff;
  width: 50%;
}

.banner-text_mainHeader {
  text-transform: uppercase;
  font-family: "Inter", serif;
  font-weight: bold;
  font-size: 2.67rem;
  margin-bottom: 0.5rem;
  line-height: 3rem;
}

.for-life {
  font-size: 3.67rem;
}

.banner-text_paragraph {
  padding-top: 0.6rem;
  font-family: "Libre Baskerville", serif;
  font-size: 1.7rem;
}

.banner-form {
  padding: 1px;
}

.services {
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 12.5rem;
}

.services .services-col {
  width: 33%;
  margin-left: 1.25rem;
  padding: 2rem 2.2rem;
  background-color: #fff;
  font-size: 0.75rem;
}

.services .services-col:first-child {
  margin-left: 0;
}

.services .services-col {
  display: flex;
}

.services p {
  font-family: "Libre Baskerville", serif;
  font-size: 0.65rem;
  margin-top: 0.5rem;
}

.services h3 {
  font-family: "Inter", serif;
}

.services img {
  height: 45px;
  align-self: center;
}

.services div {
  margin-left: 1rem;
}

.top-destinations_pics,
.featured-packages, .clients-reviews , .latest-blogs {
  padding-bottom: 5.5rem;
}

.top-destinations {
  background-image: url(../assets/images/travel.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 67%;
}

.destination + .destination {
  margin-left: 1rem;
}

.destination {
  position: relative;
  display: inline-block;
}

.destination span {
  color: white;
  font-family: "Inter", serif;
  font-weight: bold;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
}

.destination span:before {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: "";
}

.destination span:before {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: "";
}

.discount {
  background-image: url(../assets/images/discount.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  color: #fff;
  margin-bottom: 5rem;
}

.discount h2 {
  margin-top: 2.5rem;
  margin-bottom: 1rem; 
  font-weight: normal;
  padding-bottom: 2rem;
  font-size: 1.6rem;
}

.discount_bold {
  font-size: 2rem;
  font-weight: bold;
}

.discount p {
  margin-bottom: 5rem;
}

.countdown-container {
  display: flex;
  max-width: 100%;
  justify-content: center;
  padding-bottom: 3rem;
}

.days-container,
.hours-container,
.minutes-container, 
.seconds-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3.5px solid #fff;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 6.19rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.days-container + .hours-container {
  margin-left: 2.5rem;
}

.hours-container + .minutes-container {
  margin-left: 2.5rem;
}

.minutes-container + .seconds-container {
  margin-left: 2.5rem;
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 2.5rem; 
  margin: -5rem 0 -6rem;
}

.days-label,
.hours-label,
.minutes-label,
.seconds-label {
  text-transform: capitalize;
  font-size: 0.75rem;
}

.join-us {
  color: #fff;
  text-transform: capitalize;
  padding: 0.6rem 1.5rem;
  background-color: black;
  font-size: 0.75rem;
}

.package{
  background-color: #fff;
}

.package1:hover{
  box-shadow: 0px 3px 8px hsl( 0, 0%, 80%);
}

.package + .package {
  margin-left: 1rem;
}

.package h3 {
  padding: 1rem;
  font-family: "Inter", serif;
  font-weight: bold;
  font-size: 1rem;
}

.package p, .cards p {
  padding: 0 1rem 1rem 1rem;
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  font-size: 0.65rem;
  color: #767676;
}

.book-now {
  margin: 1rem;
  color: #fff;
  font-size: 0.6rem;
  text-transform: capitalize;
  padding: 0.8rem 1.2rem;
  background-color: #008acb;
}

.price {
  margin: 1rem;
  padding: 0rem 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: #008acb;
}

.book-now:hover {
  background-color: #00408c;
}

.cards {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0 2rem 0;
}

.cards:hover {
  box-shadow: 0px 3px 8px hsl( 0, 0%, 80%);
}

.cards + .cards {
  margin-left: 1rem;
}

.quote {
  padding: 1rem 0 1.5rem 0;
}

.cards p {
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: normal;
  font-size: 0.7rem;
  color: #151515;
  text-align: center;
  text-indent: 0.3rem;
  line-height: 1.3rem;
}

.client-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-name {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  color: #767676;
  padding: 1rem 0 0.5rem 0;
}

.client-address {
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: normal;
  font-size: 0.7rem;
  color: #A1A1A1;
}

.testimonal-buttons {
  display: flex;
  justify-content: center;
  margin: 1.25rem;
}

.testimonal-buttons label {
  height: 0.9rem;
  width: 0.9rem;
  background: #ACACAC;
  margin: 0 0.255rem;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.testimonal-buttons label.active {
  background: #008ACB;
}

.package1 .date {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: normal;
  font-size: 0.5rem;
}

.package1 .blog-title {
  font-size: 0.85rem;
  padding: 0 0 0.5rem 1rem;
}

.read-more {
  padding-left: 1rem;
  padding-bottom: 2.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 0.7rem;
  color: #008ACB;
}

.special-offer {
  display: flex;
  color: white;
  margin-bottom: 3rem; /*heke tani*/
}

.special-offer_left {
  width: 40%;
  padding: 3rem 0;
  background-color: #0075bf;
  display: flex;
  align-items: center;
  justify-content: center;
}

.special-offer_p1 {
  font-size: 1.1rem;
  font-family: "Libre Baskerville", serif;
}

.special-offer_p2 {
  font-size: 2rem;
  font-family: "Inter", serif;
  font-weight: 300;
  margin: 0.2rem 0;
}

.special-offer_p3 {
  font-size: 3rem;
  font-family: "Inter", serif;
  font-weight: 800;
  line-height: 45px;
}

.special-offer_right {
  width: 60%;
  padding: 3rem 0 3rem 4.5rem;
  background-image: url(../assets/images/special-offer-bg.png);
  background-size: cover;
  background-position: center;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.special-offer_right_content {
  width: 65%;
}

.special-offer_right_title {
  font-weight: 300;
  margin-bottom: 5px;
  font-size: 0.9rem;
  letter-spacing: 2px;
}

.percentage40 {
  font-size: 1.75rem;
  font-weight: normal;
  display: inline-block;
}

.off {
  background-color: #ce6e11;
  padding: 3px;
}

.thailand {
  margin: 1.5rem 0 0.6rem;
  font-size: 1.5rem;
  font-family: "Inter", serif;
  font-weight: bold;
}

.special-offer_right_text {
  width: 80%;
  margin-bottom: 1rem;
}

.special-offer_right_text ul li {
  padding: 5px 0;
  list-style-type: none;
}

.special-offer_right_text ul i {
  margin-right: 5px;
}

.special-offer_right p {
  line-height: 1.25rem;
}

.offer-price {
  width: 70%;
  margin: 1.2rem 0;
}

.offer-currentPrice {
  font-size: 1.4rem;
  display: inline-block;
}

.offer-lastPrice {
  font-size: 0.9rem;
  text-decoration: line-through;
}

.reviews-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.75rem;
}

.read-more_btn {
  margin: 1rem 0;
  color: #fff;
  font-size: 0.6rem;
  text-transform: capitalize;
  padding: 0.65rem 1.2rem;
  background-color: none;
  border: 2px solid white;
  cursor: pointer;
}

.read-more_btn:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

.offer-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

/* #readMore {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #e5e5e5;
  box-shadow: 0px 12px 26px rbga(0, 0, 0, 0.1);
  color: black;
  border-radius: 7px;
  display: none;
  width: 50%;
  height: 50%;
  overflow-y: scroll;
}

.read-more_bar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.read-more_close {
  cursor: pointer;
}

.read-more hr {
  width: 95%;
  margin: 0 auto;
} */

.newsletter {
  background-color: #003768;
}

.subscribe {
  padding-top: 6rem;
  padding-bottom: 7rem;
}

.subscribe h2 {
  font-family: "Libre Baskerville", sans-serif;
  font-weight: normal;
  font-size: 1.85rem;
  color: #f7f7f2;
  line-height: 2.7rem;
}

.subscribe p {
  font-family: "Libre Baskerville", sans-serif;
  font-size: 0.85rem;
  font-weight: normal;
  color: #f7f7f2;
  padding-right: 7rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.subcription {
  display: flex;
  position: relative;
}

.subcription input {
  border: none;
  outline: none;
  padding: 0.5rem 6rem 0.5rem 1rem;
  font-size: 0.8rem;
  font-family: "Libre Baskerville";
  color: #787878;
}

.subcription button {
  border: none;
  outline: none;
  background-color: #151515;
  color: #f5f5f5;
  cursor: pointer;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-family: "Libre Baskerville", sans-serif;
}

.subscribe span {
  color: #f5f5f5;
  font-size: 1rem;
  font-family: "Libre Baskerville";
}

footer {
  background-color: #faf8f8;
}

.footer-container {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.5rem;
}

.footerDivs h3 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.footerDivs h4 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #3e3e3e;
  padding-bottom: 0.7rem;
}

.footerDivs p {
  font-family: "Libre Baskerville", sans-serif;
  font-weight: normal;
  font-size: 0.6rem;
  color: #767676;
  padding-bottom: 1rem;
  width: 15rem;
  line-height: 1rem;
}

.social-networks {
  display: flex;
}

.social-networks li {
  list-style-type: none;
}

.social-networks li a {
  display: inline-block;
  width: 2rem;
}

.social-networks li a img {
  width: 1rem;
}

.footerDivs li {
  list-style-type: none;
  font-family: "Libre Baskerville", sans-serif;
  font-weight: normal;
  font-size: 0.7rem;
  color: #767676;
  padding-bottom: 0.5rem;
}

.bottom-details {
  background-color: #ebeef3;
}

.bottom-container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

footer .bottom-container .bottom-text span {
  font-family: "Libre Baskerville", sans-serif;
  font-weight: normal;
  font-size: 0.7rem;
  color: #919090;
}

.bottom-text span a:link,
.bottom-text span a:visited {
  color: #4e4e4e;
}

footer .bottom-container .bottom-cards img {
  width: 1.7rem;
}
