* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  background-color: #f9f6f6;
}

/* header {
  font-family: "Libre Baskerville", serif;
} */

img {
  max-width: 100%;
}

a {
  font-family: "Libre Baskerville", serif;
  color: rgb(21, 21, 21);
  text-decoration: none;
}

#contact,
#my-data {
  color: rgb(86, 85, 85);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.section-title {
  font-family: "Inter", serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.section-description {
  font-size: 0.75rem;
  color: #636363;
  text-align: center;
  margin-bottom: 2.5rem;
}

.seection-text {
  color: #636363;
}

header {
  background-color: #fff;
}

.top-nav {
  border-bottom: 1px #c3c3c3 solid;
  padding: 1rem 0;
  font-size: 0.59rem;
}

#home {
  color: rgb(0, 138, 203);
}

.top a + a {
  padding-left: 1.5rem;
}

.main-nav {
  padding: 1.4rem 0;
  font-size: 0.7rem;
}

.logo {
  width: 120px;
  height: 15px;
}

.nav-list {
  list-style-type: none;
}

.nav-list li + li {
  padding-left: 2rem;
}

.banner {
  padding: 4rem 0;
  min-height: 500px;
  background-image: url(../assets/images/banner1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
}

.banner-text {
  padding-top: 6rem;
  padding-left: 1.1rem;
  color: #fff;
  width: 50%;
}

.banner-text_mainHeader {
  text-transform: uppercase;
  font-family: "Inter", serif;
  font-weight: bold;
  font-size: 2.67rem;
  margin-bottom: 0.5rem;
  line-height: 3rem;
}

.for-life {
  font-size: 3.67rem;
}

.banner-text_paragraph {
  padding-top: 0.6rem;
  font-family: "Libre Baskerville", serif;
  font-size: 1.7rem;
}

.banner-form {
  padding: 1px;
}

.services {
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 12.5rem;
}

.services .services-col {
  width: 33%;
  margin-left: 1.25rem;
  padding: 2rem 2.2rem;
  background-color: #fff;
  font-size: 0.75rem;
}

.services .services-col:first-child {
  margin-left: 0;
}

.services .services-col {
  display: flex;
}

.services p {
  font-family: "Libre Baskerville", serif;
  font-size: 0.65rem;
  margin-top: 0.5rem;
}

.services h3 {
  font-family: "Inter", serif;
}

.services img {
  height: 45px;
  align-self: center;
}

.services div {
  margin-left: 1rem;
}

.top-destinations_pics,
.featured-packages {
  padding-bottom: 5.5rem;
}

.top-destinations {
  background-image: url(../assets/images/travel.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 67%;
}

.destination + .destination {
  margin-left: 1rem;
}

.destination {
  position: relative;
  display: inline-block;
}

.destination span {
  color: white;
  font-family: "Inter", serif;
  font-weight: bold;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
}

.destination span:before {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: "";
}

.destination span:before {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: "";
}

.discount {
  background-image: url(../assets/images/discount.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  color: #fff;
  margin-bottom: 5rem;
}

.discount h2 {
  margin-bottom: 2rem;
  font-weight: normal;
}

.discount_bold {
  font-size: 2rem;
  font-weight: bold;
}

.discount p {
  margin-bottom: 5rem;
}

.join-us {
  color: #fff;
  text-transform: capitalize;
  padding: 0.8rem 1.5rem;
  background-color: black;
}

.package {
  background-color: #fff;
}

.package + .package {
  margin-left: 1rem;
}

.package h3 {
  padding: 1rem;
  font-family: "Inter", serif;
  font-weight: bold;
  font-size: 1rem;
}

.package p {
  padding: 0 1rem 1rem 1rem;
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  font-size: 0.65rem;
  color: #767676;
}

.book-now {
  margin: 1rem;
  color: #fff;
  font-size: 0.6rem;
  text-transform: capitalize;
  padding: 0.8rem 1.2rem;
  background-color: #008acb;
}

.price {
  margin: 1rem;
  padding: 0rem 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: #008acb;
}

.book-now:hover {
  background-color: #00408c;
}

.newsletter {
  background-color: #003768;
}
.subscribe {
  padding-top: 6rem;
  padding-bottom: 7rem;
}

.subscribe h2 {
  font-family: "Libre Baskerville", sans-serif;
  font-weight: normal;
  font-size: 1.85rem;
  color: #f7f7f2;
  line-height: 2.7rem;
}

.subscribe p {
  font-family: "Libre Baskerville", sans-serif;
  font-size: 0.85rem;
  font-weight: normal;
  color: #f7f7f2;
  padding-right: 7rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.subcription {
  display: flex;
  position: relative;
}

.subcription input {
  border: none;
  outline: none;
  padding: 0.5rem 6rem 0.5rem 1rem;
  font-size: 0.8rem;
  font-family: "Libre Baskerville";
  color: #787878;
}

.subcription button {
  border: none;
  outline: none;
  background-color: #151515;
  color: #f5f5f5;
  cursor: pointer;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-family: "Libre Baskerville", sans-serif;
}

.subscribe span {
  color: #f5f5f5;
  font-size: 1rem;
  font-family: "Libre Baskerville";
}

footer {
  background-color: #faf8f8;
}

.footer-container {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.5rem;
}

.footerDivs h3 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.footerDivs h4 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #3e3e3e;
  padding-bottom: 0.7rem;
}

.footerDivs p {
  font-family: "Libre Baskerville", sans-serif;
  font-weight: normal;
  font-size: 0.6rem;
  color: #767676;
  padding-bottom: 1rem;
  width: 15rem;
}

.social-networks {
  display: flex;
}

.social-networks li {
  list-style-type: none;
}

.social-networks li a {
  display: inline-block;
  width: 2rem;
}

.social-networks li a img {
  width: 1rem;
}

.footerDivs li {
  list-style-type: none;
  font-family: "Libre Baskerville", sans-serif;
  font-weight: normal;
  font-size: 0.7rem;
  color: #767676;
  padding-bottom: 0.5rem;
}

.bottom-details {
  background-color: #ebeef3;
}

.bottom-container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

footer .bottom-container .bottom-text span {
  font-family: "Libre Baskerville", sans-serif;
  font-weight: normal;
  font-size: 0.7rem;
  color: #919090;
}

.bottom-text span a:link,
.bottom-text span a:visited {
  color: #4e4e4e;
}

footer .bottom-container .bottom-cards img {
  width: 1.7rem;
}
