.clock-container {
    text-shadow: 2px 1px 1px #333;
    text-align: center;
    padding: 4rem 0;
    min-height: 500px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    font-size: 5rem;
    margin-top: 5rem;
}

.user {
    font-size: 2rem;
    padding: 1rem;
}

section {
    margin-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.tour-title {
    padding-bottom: 1rem;
}

.tour {
    position: relative;
    display: inline-block;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s all ease-in-out;
}

.tour img {
    height: 250px;
    max-height: 250px;
    width: 100%;
    object-fit: fill;
    border-radius: 5px;
    filter: brightness(0.6);
}


.tour:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transform: scale(1.1);
}

.tour span {
    color: white;
    font-family: "Inter", serif;
    font-weight: bold;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    z-index: 999;
}

.tour span:before {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: "";
}

.preferences-container {
    display: flex;
    justify-content: center;
}

.preferences-container p {
    font-size: .9rem;
    font-weight: normal;
    color: darkslategray;
    padding-bottom: 1.5rem;
}

.preferences {
    margin-left: 1rem;
}

.preferences li {
    padding: 0.5rem;
    border: 1px solid black;
    margin-bottom: 0.5rem;
    width: 25%;
}